.content{
    display: flex;
    flex-wrap: wrap;
}
.drag{
    width: 19%;
    margin: 2%;
    padding: 1%;
    box-shadow: 5px 5px 10px #000000b3;
    transition-delay: 100ms;
    transition-duration: 500ms ;
    transition-timing-function: ease-in-out; 
    cursor: move;
}
.drag:nth-child(1n){
    transform: rotate(2deg);
}
.drag:nth-child(2n){
    transform: rotate(-2deg);
    /**background-color: #ffc06ed5;**/
}
.drag:nth-child(3n){
    transform: rotate(1deg);
    /**background-color: #f37e7ec2;**/
}
.drag:hover{
    transform: scale(1.2); 
}
.drag img{
    width: 100%;
    height: 92%;
    object-fit: cover;
    object-position: center;
}
.drag h4{
    margin: 0;
    padding: 2%;
}