.content{
    display: flex;
    flex-wrap: wrap;
}
.content div{
    width: 19%;
    background-color: #6a9494be;
    margin: 2%;
    padding: 1%;
    box-shadow: 5px 5px 10px #000000b3;
}
.content div:nth-child(1n){
    transform: rotate(2deg);
}
.content div:nth-child(2n){
    transform: rotate(-2deg);
    background-color: #ffc06ed5;
}
.content div:nth-child(3n){
    transform: rotate(1deg);
    background-color: #f37e7ec2;
}
.content div:hover{
    transform: scale(1.2);
    transition-delay: 100ms;
    transition-duration: 500ms;
}
.content div img{
    width: 100%;
    height: 92%;
    object-fit: cover;
    object-position: center;
}
.content div h4{
    margin: 0;
    padding: 2%;
}