html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    background: url(../img/background.webp) repeat;
    background-size: cover;
    margin: 0;
}
header{
    float: left;
    height: 15%;
    width: 100%;
}
.pagecontent{
    float: left;
    height: 70%;
    width: 70%;
    margin: 0% 15%;
    padding: 0;
}
.common{
    float: left;
    margin : 0.5% 0%;  
    width: 100%;
}
nav{
    background: linear-gradient(#5d5dd6 , #272746);
    height: 9%;
    border-radius: 30px;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav ul li{
    margin: 0% 2% ;
    padding: 1%;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #f5f5f5;
}
.carrousel{
    float: left;
    background-color: #afb19e;
    height: 54%;
    width: 100%;
}
.button{
    padding: 0;
    margin: 5px;
    position: absolute;
    background: none;
    background-color: #aaaaaa67;
    border: none;
    font-size: 30px;
    color: #f5f5f5;
    top: 40%;
    cursor: pointer;
    transition-duration: 400ms ;
    transition-timing-function: ease-in-out; 
}
.button:hover{
    color: #1f1f1f;
    background-color: #faebd7a6;
}
.previous{
    left: 15%;
}
.next{
    right: 15%;
}
.slide{
    background-color: #afb19e;
    height: 100%;
    margin:0;
    display: none;
}
.slide img{
    width: 99%;
    height: 96%;
    border: 5px solid #1f1f1f ;
}
.sect{
    background-color: #f5f5f5;
    height: 34%;
    padding: 0;
}
.sect article{
    float: left;
    height: 100%;
    width: 30%;
    margin: 0% 1.5%;
}
.art_common{    
    float: left;
}
.sect img{
    height: 35%;
    margin: 4% 2% 0% 2%;
}
.sect article aside{
    height: 60%;
    overflow: hidden;
    text-align: justify;
}
footer{
    float: left;
    height: 15%;
    width: 100%;
    margin: 0;
}
footer p{
    text-align: center;
    margin: 2%;
    color:#f5f5f5;
}
/** For Tablets **/
@media only screen and (max-width: 760px){
    nav ul li{
        margin: 1% 3% ;
    }
    .slide img{
        border: 0px;
        height: 100%;
        width: 100%;
    }
    .sect img{
        height: 25%;
        margin: 3% 2% 0% 2%;
    }
    .art_common{    
        font-size: 15px;;
    }
    .sect article aside{
        height: 60%;
        font-size: 13px;
        overflow: hidden;
        text-align: justify;
    }
}
/** For Phones **/
@media only screen and (max-width: 600px){
    nav ul li{
        margin: 1% 1% ;
    }
    nav ul li a{
        font-size: 13px;;
    }
    .pagecontent{
        height: auto;
    }
    
    .art_common{    
        font-size: 15px;;
    }
    .slide img{
        border: 0px;
        width: 100%;
        height: 250px;
        width: 100%;
    }
    .button{
        display: none;
    }
    .sect{
        float: left;
        height: auto;
    }
    .sect article{
        float: left;
        height: 100%;
        width: 98.5%;
        margin: 0% 1.5%;
    }
    .sect img{
        float: left;
        width: 25%;
        margin: 3% 2% 0% 2%;
    }
    .art_common{
        font-size: 20px;
        margin: 3%;
    }
    .sect article aside{
        float: left;
        width: 60%;
        text-align: justify;
    }
}